In [31]:
import pandas as pd
import base64
import math

posts = pd.read_csv('posts.sample.csv').dropna()
posts['Body'] = posts['Body'].apply(lambda x : base64.b64decode(x))
posts['Title'] = posts['Title'].apply(lambda x : base64.b64decode(x))
posts.head(10)

,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount
0,1,161.0,2010-08-05T19:34:49.473,39,92268.0,<p>When should I use <em>can</em>? When should...,9,300.0,2013-01-24T22:00:48.513,2015-06-12T21:02:26.507,"When do I use ""can"" or ""could""?",<word-choice><tenses><politeness><subjunctive-...,6.0,7,23.0
1,1,12.0,2010-08-05T19:37:29.890,48,15237.0,"<p>Doesn't ""quint"" mean ""five""? What does tha...",16,2705.0,2011-03-06T23:30:18.483,2013-09-08T11:18:37.867,"Where does the ""quint"" in ""quintessential"" com...",<etymology>,7.0,5,6.0
4,1,10600.0,2010-08-05T19:41:04.000,23,2897.0,"<p>I think most folk happily use either ""while...",15,15.0,2011-02-10T11:33:39.800,2014-07-15T08:02:20.533,"When did ""while"" and ""whilst"" become interchan...",<word-choice><grammar><etymology><conjunctions>,7.0,5,4.0
6,1,29.0,2010-08-05T19:42:24.170,39,14855.0,<p>I feel uncomfortable saying sentences like ...,13,300.0,2013-09-21T18:16:54.323,2014-05-16T18:18:25.677,"Is it appropriate to use short form of ""have"" ...",<verbs><contractions><auxiliary-verbs>,8.0,8,6.0
12,1,34.0,2010-08-05T19:51:46.757,128,228041.0,<p>Are there any concrete rules that say which...,13,2085.0,2013-08-25T18:58:08.603,2014-09-28T02:05:56.463,Which words in a title should be capitalized?,<capitalization><title><headline-case>,12.0,7,48.0
14,1,47.0,2010-08-05T19:54:22.990,112,20410.0,"<p>Like many others, I commonly find myself en...",29,2085.0,2014-04-27T19:00:42.220,2015-12-07T13:15:35.150,When is it appropriate to end a sentence in a ...,<grammaticality><prepositions><word-order><sen...,13.0,8,30.0
15,1,131.0,2010-08-05T19:54:37.313,52,11040.0,<p>I've heard lots of varying histories of the...,16,2705.0,2011-03-06T23:27:09.657,2016-01-08T02:33:57.507,"Where did the term ""OK/Okay"" come from?",<etymology>,7.0,5,10.0
16,1,24.0,2010-08-05T19:56:14.907,15,26230.0,<p>Would it be proper to say <em>freshman stud...,5,10041.0,2011-08-25T18:55:01.443,2012-12-27T06:23:50.427,"What is the proper plural of the word ""freshman""?",<grammatical-number>,4.0,6,4.0
17,1,157.0,2010-08-05T19:57:35.077,14,2771.0,"<p>In baseball, an <em>inning</em> is a team's...",21,10893.0,2011-08-17T09:43:08.160,2011-08-17T09:43:08.160,"Where did the singular ""innings"" come from?",<grammatical-number><sports>,2.0,0,1.0
18,1,38.0,2010-08-05T19:58:03.420,13,1794.0,<p>I grew up speaking British English. The wor...,33,48.0,2011-04-12T16:28:32.793,2013-05-18T07:30:53.467,"Are ""betwixt"", ""trebble"", etc., acceptable in ...",<american-english><british-english>,6.0,2,2.0

In [32]:
comments = pd.read_csv('comments.sample.csv').dropna()
comments['Text'] = comments['Text'].apply(lambda x : base64.b64decode(x))
comments.head(5)

,Id,PostId,Score,Text,CreationDate,UserId
0,2,1,9,I think you need to edit the title of your que...,2010-08-05T19:48:13.987,17.0
1,6,23,12,It's correct when you're accessing a method of...,2010-08-05T20:01:43.273,36.0
2,8,24,2,"Yes, I would think in almost any context where...",2010-08-05T20:10:25.270,30.0
3,9,26,0,"Would you say `It can certainly be ""acceptable...",2010-08-05T20:11:23.957,16.0
4,10,8,4,@serg555: Would you expect anything less on a ...,2010-08-05T20:12:43.500,16.0

In [22]:
posts.describe()

,PostTypeId,AcceptedAnswerId,Score,ViewCount,OwnerUserId,LastEditorUserId,AnswerCount,CommentCount,FavoriteCount
count,102.000000,25.000000,102.000000,28.000000,102.000000,54.000000,28.000000,102.000000,28.000000
mean,1.725490,659.880000,29.107843,32923.750000,460.225490,8430.962963,7.035714,4.117647,15.107143
std,0.448471,2215.389588,41.985124,50467.911432,2127.383699,19853.439665,4.122945,4.115400,19.120164
min,1.000000,12.000000,-1.000000,538.000000,5.000000,-1.000000,2.000000,0.000000,1.000000
25%,1.000000,47.000000,6.250000,3914.000000,23.000000,49.500000,3.750000,1.000000,3.750000
50%,2.000000,87.000000,14.500000,17243.000000,39.000000,300.000000,6.500000,3.000000,7.000000
75%,2.000000,127.000000,29.750000,38666.250000,67.000000,9032.250000,9.250000,6.000000,15.500000
max,2.000000,10600.000000,250.000000,228041.000000,13078.000000,102286.000000,20.000000,21.000000,86.000000

In [19]:
comments.describe()

               Id      PostId       Score      UserId
count  102.000000  102.000000  102.000000   96.000000
mean    69.284314   72.068627    3.931373   52.020833
std     40.807779   51.506082    6.124549   26.968980
min      2.000000    1.000000    0.000000    6.000000
25%     33.250000   29.000000    0.000000   28.250000
50%     68.500000   51.000000    2.000000   45.000000
75%    102.750000  127.000000    5.000000   78.000000
max    140.000000  158.000000   40.000000  101.000000